---
title: Tag Archive
pageable: true
per_page: 3
---

<h1><%= current_page.data.title %></h1>

<% page_articles(blog_controller.name).each_with_index do |article, i| %>
<div>
  <h2><%= link_to article.title, article %></h2>
  <p><%= strip_tags article.summary(100) %></p>
  <p><time date="<%= article.date.strftime('%Y-%m-%d') %>"><%= article.date.strftime('%Y-%m-%d') %></time></p>
</div>
<% end %>

<ul class="page-nav-list">
  <% if paginate && num_pages > 1 %>
    <% if prev_page %>
      <li>
      <% link_to prev_page do %>
      Prev
      <% end %>
      </li>
    <% end %>
  <% end %>

  <% if paginate %>
    <% if next_page %>
      <li>
      <% link_to next_page do %>
      Next
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>